*{
  box-sizing: border-box;
}
div{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: orange;
}

body{
  background: #333;
  margin: 0;
  color: #e2e2d3;
  font-family: helvetica;
}
header {
  height: 100px;
  background: #dadada;
  margin: 0;
  position: relative;
  overflow: auto;
}

.logo {
  height: 100%;
  display: block;
  position: relative;
  float:  left;
}
.logo-text{
  font-family: 'Kanit', sans-serif;
}

.nav {
  position: relative;
  top: 50%;
  float: right;
  transform: translate(0,-50%);
}
.nav ul{
  list-style: none;
}
.nav li{

  display: inline;
  padding-right: 20px;
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #00000033;
}
.nav li:not(:last-of-type){
  border-right: 2px solid #2b2b2b26;
}
.hero{
  position: relative;
  height: 70vh;
  background: radial-gradient(#54799c, #000000d4), url(../img/hero-diagram.jpg) no-repeat center;
  /* background-image: url("../img/hero-diagram.jpg"); */
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.hero img {
  position: relative;
  left: 42%;
  top: 48%;
  transform: translate(-50%, -50%);
  width: 690px;
}
.hero > h1 {
  margin: 0;
  position: absolute;
  bottom: 15px;
  right: 35px;
  color: skyblue;
  font-style: italic;
  font-size: 65px;
  letter-spacing: -3px;
  text-shadow: 2px 2px 2px #00000088;
}
.wrapper {
    max-width: 900px;
    margin: auto;
    background: #eee;
    color: #444;
}

span.logo-text {
    font-size: 62px;
    text-transform: capitalize;
    color: orange;
    padding-left: 15px;
    text-shadow: 2px 2px 1px #000000aa;
    letter-spacing: 0px;
}
.description{
  padding: 15px;
  width: 48%;
  margin-right: 4%;
  float: left;
}

.features{
  width: 100%;
}
.gallery{
  width: 48%;
  float: right;
}

.nav a {
    color: #e27504;
}
.nav a:hover {
    color: #fca502;
    text-shadow: 0px 1px 1px #000000cc;
}
div.gallery-item{
  margin: 2%;
  float: left;
  max-width: 28%;
}
.gallery-item img{
  width: 100%;
}
.two-col::after{
  content: "";
  clear: both;
  display: table;
}
